node_modules/
client/node_modules/
server/node_modules/
agent/node_modules/

client/dist/
server/dist/
agent/dist/
agent/dist-gui/
agent/dist-gui-2/
agent/dist-gui-3/
agent/client/dist/

*.log
*.local
*.bak
*.bak.*
*.tmp
*.temp

.DS_Store
Thumbs.db
.idea/
.vscode/
